<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'nested_form' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
        <%= link_to "sample app", '#', id: "logo" %>
          <ul class="nav">
            <% if logged_in? %>
              <div class="dropdown pull-right">
                <li><%= link_to "Accounts", '#', class: 'btn btn-default nav_button' %>
                </li>
                <div class="dropdown-content">
                  <a href="#">Profile</a>
                  <%= link_to "Log out", logout_path, method: :delete %>
                </div>
              </div>
              <!-- show user details -->
            <% else %>
              <li class="pull-right"><%= link_to "Sign in", login_path, class: 'btn btn-default nav_button' %></li>
            <% end %>
          </ul>

        </div>
      </div>
    </header>

    <div class="container">
      <%= render partial: 'shared/flash_message' %>
      <%= yield %>
    </div>
  </body>
</html>
